!!! 5
%html
  %head
    %title HelloRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = yield

    #footer
      .container
        %footer.text-center Example Company Inc.
